{% include 'header.html' %}

<div class="container" role="main">
    <div class="container" style="min-height:20em">
        <div class="jumbotron">
            <h1>Prefix search</h1>
        </div>

        <div>
            {% include 'prefix_search_help.html' %}
        </div>

        <div>
            <table>
                <thead>
                    <tr>
                        {% if prefix_input_len > 0 %}
                            <th>Prefix '{{ prefix_input }}' gave following result</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for word in prefix_result %}
                        <tr>
                            <td>{{ word }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% include 'footer.html' %}